.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

@media (prefers-reduced-motion: no-preference) {
}

.App-header {
  background-color: #12ba93;
  background: linear-gradient(130deg, #12ba93 0, #78378c 100%);
  /* min-height: 0.1vh; */
  display: flex;
  position: sticky;
  top: 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(20px + 2vmin);
  color: white;
  padding: calc(20px + 2vmin);
  z-index: 1;
}

p {
  /* color: #291842; */
}

.aboutLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#email {
  margin: calc(10px + 2vmin);
  max-height: calc(15px + 2vmin);
}
#github {
  margin: calc(10px + 2vmin);
  max-height: calc(15px + 2vmin);
}

#linkedin {
  margin: calc(10px + 2vmin);
  max-height: calc(15px + 2vmin);
}

#resume {
  background-color: linear-gradient(130deg, #78378c 0, #12ba93 100%);
  color: #78378c;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
